.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: inherit;

    .imageContainer{
      width: 100%;
      height: calc(100vh / 2);
      position: relative;

      .img {
        object-fit: cover;
      }

      .imgText {
        position: absolute;
        background-color: rgb(17, 77, 54);
        bottom: 25px;
        left: 10px;
        color: white;
        padding: 10px;
        border-radius: 15px;
      }
    }



    .aboutDiscriptionContainer{
      display: flex;
      gap: calc(20px + 5vw);

      .title {
        font-size: 2.5rem;
      }

      .description {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
        text-align: justify;

        .list {
          display: flex;
          flex-direction: column;
          gap: inherit;
          padding-bottom: 15px;

          .li {
            list-style-type: '-';
            padding-left: 8px;
            color: rgb(123, 163, 150);
          }
        }
      }



    }
}