.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .content {
    display: flex;
    gap: 2rem;
    .img {
      object-fit: cover;
    }
    .textContainer {
      display: flex;
      flex-direction: column;
      align-self: center;
      gap: 2rem;
  
      .textTitle {
        font-size: 2rem;
        color: rgb(220, 221, 223);
      }
  
      .textDescription {
        font-size: 18px;
        text-align: justify;
        color: rgb(180, 177, 177);
      }
    }
  }
}
