.container {
  .title {
    text-transform: capitalize;
  }

  .content {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;

    .imageContainer {
      width: 100%;
      height: 60vh;
      position: relative;

      .img {
        object-fit: cover;
      }
    }


    .textContainer {

    }

  }
}