.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .title {
    align-self: center;
    justify-self: center;
    text-decoration: underline;
    font-size: 2.5rem;
    background: linear-gradient( rgb(18, 90, 184),  rgb(185, 162, 162));
    background-clip: text;
    -webkit-text-fill-color: transparent;

  }


  .cardContainer {
    display: flex;
    gap: calc(15px + 5vw);
    

    .item {
      width: 100%;
      height: 50vh;
      position: relative;

      .img {
        object-fit: contain;
        animation: move 3s infinite ease alternate;
      }

      @keyframes move {
        from {
          transform: translateY(-25px)
        }
        to {
          transform: translateY(0px) scale(1.03)
        }
      }

      .form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .input {
          font-size: 20px;
          padding: 5px;
          background-color: transparent;
          color: white;
          outline: none;
        }
      }
    }
  }

}