

.posts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  
    .content {
      display: flex;
      gap: 2rem;
      .img {
        object-fit: cover;
      }
      .textContainer {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 2rem;
    
        .textTitle {
          font-size: 2rem;
        }
    
        .textDescription {
          font-size: 18px;
          text-align: justify;
        }
      }
    }
  }
  