.container {
  display: flex;
  gap: 3rem;
  align-items: center;

  .left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 3rem;
      background: linear-gradient(#535252, #2751ac);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .description {
      font-size: 1.5rem;
    }
  }

}