.container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;

  .logo{
    font-weight: bold;
    font-size: 22px;
    color: aqua;
  }

  .links {
    display: flex;
    gap: 15px;
    align-items: center;

    .button {
      padding: 4px 8px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      background-color: rgb(71, 99, 70);
      color: white;
      font-size: 18px;
    }
  }



}