.mainTitle {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  background: linear-gradient( rgb(42, 42, 185), rgb(190, 165, 117));
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .serviceOption {
    font-size: 2rem;
    color: #b3b3b3;
  }

  .services {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;

    .service {
      width: 350px;
      height: 400px;
      background-size: cover !important;
      position: relative;
      background-position: -100px right; 

      .serviceTitle {
        position: absolute;
        font-size: 22px;
        color: white;
        background-color: rgb(75, 151, 151, 0.6);
        padding: 7px;
        border-radius: 4px;
        bottom: 20px;
        left: 15px;
      }

      
    }

    .service:nth-child(1) {
      background: url("/userdesign.jpg");
    }

    .service:nth-child(2) {
      background: url("/WebDesign.jpg");
    }

    .service:nth-child(3) {
      background: url("/collaboration.jpg") no-repeat;
    }

    .service:hover .serviceTitle {
      color: rgb(49, 52, 207);
      background: #797878;
    }

  }

    
}